body {
	margin: 0;
	padding: 0;
	background: grey;
}

.main {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	display: inline-block;
}

.button-class-b {
	border-radius: 5px;
	padding: 7px;
	margin: 5px;
	background: rgb(29, 39, 183);
	color: white;
	font-size: 16px;
}

.button-class-b:hover {
	background: white;
	color: rgb(29, 39, 183);
}


.eight-queens-tag {
	margin-bottom: 5px;
}

.eightboard {
	margin: 0 auto;
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.row {
	width: 400px;
	height: 50px;
	display: flex;
}

.cell {
	width: 50px;
	height: 50px;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.odd-row .cell:nth-child(odd){
	background: rgb(255, 236, 214);
}

.odd-row .cell:nth-child(even){
	background: rgb(216, 139, 23);
}

.even-row .cell:nth-child(odd){
	background: rgb(216, 139, 23);
}

.even-row .cell:nth-child(even){
	background: rgb(255, 236, 214);
}